* {
    box-sizing: content-box;
    margin: 0;
}

/* ---- header ----- */

header {
    /* position: fixed;
    top: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background-color: aliceblue;
}

a {
    display: block;
    text-align: right;
    color: #000;
}


/* ---- detail page ----- */
.detail-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 2em;
}

.detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    border-radius: 10px;
}

.detail-img img {
    border-radius: 10px;
    -webkit-box-shadow: 9px 8px 18px 1px rgba(0,0,0,0.61); 
    box-shadow: 9px 8px 18px 1px rgba(0,0,0,0.61);
    margin-bottom: 3em;
}

.detail-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3em;
    padding-left: 3em;
    text-align: center;
    font-size: 1em;
}

/* ---- signup ----- */
.login-section {
    margin-top: 20vh;
}

.login-section input {
    width: 50vw;
}

/* ---- upload ----- */

.upload-title {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1em;
}

#placeTitle {
    text-align: center;
    margin-top: 4em;
    width: 100%;
    height: 4em;
    -webkit-box-shadow: 3px 5px 13px -1px rgba(0,0,0,0.44); 
    box-shadow: 3px 5px 13px -1px rgba(0,0,0,0.44);
    border-radius: 10px;
}

#placeDesc {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 10em;
    margin-top: 4em;
    -webkit-box-shadow: 3px 5px 13px -1px rgba(0,0,0,0.44); 
    box-shadow: 3px 5px 13px -1px rgba(0,0,0,0.44);
    border-radius: 10px;
    margin-bottom: 4em;
}

#placeContient {
    border: 1px solid #000
}

.upload-btn {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.upload-btn button {
    background-color: #42cef5;
    border-radius: 10px;
    width: 5em;
    height: 2em;
    color: #fff;
    
}

.upload-select {
    display: flex;
    justify-content: center;
    align-items: center;
}