<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}
        <!-- 페이지별 타이틀 공간 -->
        <title>Title</title>
    {% endblock title %} {% block meta %}
    <!-- 페이지별 메타 데이터 공간 -->
{% endblock meta %} {% block scripts %}
    <!-- 페이지별 스크립트 공간 -->
{% endblock scripts %}
    <link rel="icon" href="../static/testAssets/favicon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/default.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        function toggle_like(post_id, user_id, type) {
            console.log(post_id, type)
            let $a_like = $(`#${post_id} a[aria-label='heart']`)
            console.log($a_like)
            let $i_like = $a_like.find("img")
            if ($i_like.hasClass("fa-heart")) {
                console.log(1)
                $.ajax({
                    type: "POST",
                    url: "/api/like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        console.log("unlike")
                        $i_like.addClass("fa-heart-o").removeClass("fa-heart")
                        $a_like.find("span.like-num").text(response["count"])
                    }
                })
            } else {
                console.log(2)
                $.ajax({
                    type: "POST",
                    url: "/api/like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "like"
                    },
                    success: function (response) {
                        console.log("like")
                        $i_like.addClass("fa-heart").removeClass("fa-heart-o")
                        $a_like.find("span.like-num").text(response["count"])
                    }
                })

            }
        }

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }
    </script>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="landing" class="header-logo"><img src="" alt="logo-img"></a>
            </div>
            <div class="col-2">
                <a href="/upload" class="header-nav">여행지 등록</a>
            </div>
            <div class="col-2">
                <a href="/mypage" class="header-nav">마이페이지</a>
            </div>
            <div class="col-2 logout-btn">
                <button onclick="sign_out()">로그아웃</button>
            </div>
        </div>
    </div>
</header>
{% block content %} {% endblock content %}
</body>
</html>

