<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}
        <!-- 페이지별 타이틀 공간 -->
        <title>Title</title>
    {% endblock title %} {% block meta %}
    <!-- 페이지별 메타 데이터 공간 -->
{% endblock meta %} {% block scripts %}
    <!-- 페이지별 스크립트 공간 -->
{% endblock scripts %}
    <link rel="icon" href="../static/testAssets/favicon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/default.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        const clickLike = (post_id, type) => {
            let query = `.placeLike#${post_id}`
            let $place_like = $(query)
            $place_like.toggleClass('fill-red')
            console.log(post_id, type)
            console.log($place_like)
            if ($place_like.hasClass("fill-red")) {
                $.ajax({
                    type: "POST",
                    url: "/api/like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "like"
                    },
                    success: function (response) {
                        console.log("like")
                        console.log(response["count"])
                    }
                })

            }
            else
            {
                $.ajax({
                    type: "POST",
                    url: "/api/like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        console.log("unlike")
                        console.log(response["count"])
                    }
                })
            }
        }
        {#const render_my_page = () =>{#}
        {#    let query = `.my-post-group`;#}
        {#    let $my_post_group = $(query);#}
        {#    let $image = $my_post_group.children("img");#}
        {#    $.ajax({#}
        {#            type: "GET",#}
        {#            url: "/api/like",#}
        {#            data: {#}
        {#                post_id_give: post_id,#}
        {#                type_give: type,#}
        {#                action_give: "like"#}
        {#            },#}
        {#            success: function (response) {#}
        {#                render_my_page#}
        {#                console.log(response["count"])#}
        {#            }#}
        {#        })#}
        {#
        }#}
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }
        const isLikeAndRed = (myId, likeList)=>{
            const red = likeList.includes(myId) ? 'placeLike fill-red' : 'placeLike none';
            return red;
        }
    </script>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="/" class="header-logo"><img src="" alt="logo-img"></a>
            </div>
            <div class="col-2">
                <a href="/upload" class="header-nav">여행지 등록</a>
            </div>
            <div class="col-2">
                <a href="/api/mypage" class="header-nav">마이페이지</a>
            </div>
            <div class="col-2 logout-btn">
                <button onclick="sign_out()">로그아웃</button>
            </div>
        </div>
    </div>
</header>
{% block content %} {% endblock content %}
</body>
</html>

