{% extends 'base.html' %} 
{% block title %}<title>travel-detail</title>{% endblock title %} 
{% block content %}
    <section class="detail-group">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="detail-title">JeJu</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="detail-img">
                        <img src="../static/testAssets/placetest.png" alt="place-img">
                        <object data="../static/testAssets/like.svg" type="image/svg+xml"></object>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>
    

{% endblock content %}

