{% extends 'base.html' %} 
{% block title %}<title>travel-main</title>{% endblock title %} 
{% block content %}
    <section class="header-img">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>해외 여행 후기</h1>
                    <h2>기억에 남았던 해외 여행 후기를 등록해보세요</h2>
                </div>
            </div>
        </div>
    </section>
    <main>
        <nav class="location-filter-nav">
            <div class="container">
                <div class="row">
                    <div class="col-12 btn-group">
                            <button onclick="location.href='/'">전체</button>
                            <button onclick="location.href='/nav/seoul'">서울</button>
                            <button onclick="location.href='/nav/europe'">유럽</button>
                            <button onclick="location.href='/nav/america'">아메리카</button>
                            <button onclick="location.href='/nav/east_asia'">동아시아</button>
                            <button onclick="location.href='/nav/southeast_asi'">동남아</button>
                            <button onclick="location.href='/nav/oceania'">오세아니아</button>
                            <button onclick="location.href='/nav/ect'">기타</button>
                    </div>
                </div>
            </div>
        </nav>
        <section class="post-card-group">
            <div class="container">
                <div class="row">
                    {% for place in places %}
                    <article class="col-3 col-md-4">
                        <a class="post-card">
                            <img class="card-img-top" src="{{ place.img_url }}" alt="Card image cap">
                            <h5 class="card-title">{{ place.title }}</h5>
                            <p class="card-text">{{ place.description }}</p>
                            {% if place.like|length >= 1 %}
                                <a class="level-item is-sparta" aria-label="heart"
                                   onclick="toggle_like('{{ place._id }}','{{ user_info._id }}', 'heart')">
                                    <img alt="임시" class="fa fa-heart" aria-hidden="false" width="10px" height="10px"></img>
                                </a>
                            {% else %}
                                <a class="level-item is-sparta" aria-label="heart"
                                   onclick="toggle_like('{{ place._id }}','{{ user_info._id }}', 'heart')">
                                    <img alt="임시" class="fa fa-heart-o" aria-hidden="false" width="10px" height="10px"></img>
                                </a>
                            {% endif %}
                        </a>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

