<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>Travel Diary</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="icon" href="../static/testAssets/favicon.png"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="../static/main.js"></script>
    <link rel="stylesheet" href="../static/main.css">
    <script>
        function toggle_like(post_id, user_id, type) {
            console.log(post_id, type)
            let $a_like = $(`#${post_id} a[aria-label='heart']`)
            console.log($a_like)
            let $i_like = $a_like.find("img")
            if ($i_like.hasClass("fa-heart")) {
                console.log(1)
                $.ajax({
                    type: "POST",
                    url: "/api/like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        console.log("unlike")
                        $i_like.addClass("fa-heart-o").removeClass("fa-heart")
                        $a_like.find("span.like-num").text(response["count"])
                    }
                })
            } else {
                console.log(2)
                $.ajax({
                    type: "POST",
                    url: "/api/like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "like"
                    },
                    success: function (response) {
                        console.log("like")
                        $i_like.addClass("fa-heart").removeClass("fa-heart-o")
                        $a_like.find("span.like-num").text(response["count"])
                    }
                })

            }
        }

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }
    </script>
</head>
<body>
    <!-- HEADER -->
    <header>
            <div class="sub-menu">
                <ul class="menu">
                    <li>
                        <a href="#">Review Upload</a>
                    </li>
                    <li>
                        <a href="#">MY PAGE</a>
                    </li>
                </ul>
                <div class="search">
                    <input type="text">
                    <div class="material-icons">search</div>
                </div>
            </div>

    </header>
    <!-- main image -->
    <div class="background">
        <div class="main-title">
        <p id="p1">해외 여행 후기</p>
        <p id="p2">기억에 남았던 해외 여행 후기를 등록해보세요</p>

        </div>
    </div>

    <div class="location">
        <div class="btn-group">
            <button>전체</button>
            <button>유럽</button>
            <button>아메리카</button>
            <button>동아시아</button>
            <button>동남아</button>
            <button>기타</button>
        </div>
    </div>

    <section class="card-box">
        {% for place in places %}
            <article class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ place.img_url }}" alt="Card image cap">
                <div class="card-body">
                    <div class="body-top">

                      <h5 class="card-title">{{ place.title }}</h5>
                      <p class="card-text">{{ place.description }}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% if place.like|length >= 1 %}
                        <a class="level-item is-sparta" aria-label="heart"
                           onclick="toggle_like('{{ place._id }}','{{ user_info._id }}', 'heart')">
                            <img alt="임시" class="fa fa-heart" aria-hidden="false" width="10px" height="10px"></img>
                        </a>
                {% else %}
                    <a class="level-item is-sparta" aria-label="heart"
                       onclick="toggle_like('{{ place._id }}','{{ user_info._id }}', 'heart')">
                        <img alt="임시" class="fa fa-heart-o" aria-hidden="false" width="10px" height="10px"></img>
                    </a>
                {% endif %}
              </article>
        {% endfor %}
    </section>
</body>
</html>