{% extends 'base.html' %}
{% block title %}<title>로그인페이지</title>{% endblock title %}
{% block scripts %}
<script>
    {% if msg %}
        alert("{{ msg }}")
    {% endif %}
    function login() {
        $.ajax({
            type: "POST",
            url: "/api/signin",
            data: {id_give: $('#userid').val(), pw_give: $('#userpw').val()},
            success: function (response) {
                if (response['result'] == 'success') {
                    // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                    // 이 토큰을 my_token이라는 키 값으로 쿠키에 저장합니다.
                    $.cookie('my_token', response['token']);

                    alert('로그인 완료!')
                } else {
                    // 로그인이 안되면 에러메시지를 띄웁니다.
                    alert(response['msg'])
                }
                window.location.href = '/'
            }
        })
    }

</script>
{% block scripts %}
{% block content %}
    <main class="sign-page">
        <div class="container">
            <div class="row travel-group">
                <div class="col-12">
                    <h1>Travel-Reviews 로그인</h1>
                </div>
                <div class="col-12">
                    <div class="login-group">
                        <input type="username" id="userid" name="username" placeholder="User ID" class="sign-input"><br><br>
                        <input type="password" id="userpw" name="password" placeholder="User Password"
                               class="sign-input"><br><br>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" onclick="login()" class="box-btn login-box">로그인</button>
                    <button class="box-btn">
                        <a href="/signup">회원가입</a>
                    </button>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
