{% extends 'base.html' %}
{% block title %}<title>my-page</title>{% endblock title %}
{% block content %}
    <main class="mypage-group">
        <section class="my-upload-list">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>내가 소개한 여행지</h3>
                    </div>
                    {% for place in submitted_places %}
                        <div class="col-lg-4 col-md-6">
                            <div class="my-post-group">
                                <img onclick="location.href='/detail/{{ place._id }}'"
                                        {% if "/" in place.img_url %} src="{{ place.img_url }}"
                                        {% else %} src="../static/img/{{ place.img_url }}"{% endif %}
                                     alt="place-img">
                                <h4>{{ place.title }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="my-like-list">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>내가 좋아요 한 여행지</h3>
                    </div>
                    {% for place in like_places %}
                        <div class="col-lg-4 col-md-6">
                            <div class="my-like-group">
                                <img onclick="location.href='/detail/{{ place._id }}'"
                                        {% if "/" in place.img_url %} src="{{ place.img_url }}"
                                        {% else %} src="../static/img/{{ place.img_url }}"{% endif %}
                                     alt="place-img">
                                <h4>{{ place.title }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
